:root {
  /* primary colors */ /* This is majorly used color in web i.e background color */
  --primary: #ddecff;
  --primary-dark: blue;

  /* secondary color */ /* This is second majorly used color in web i.e foreground color */
  --secondary: blue;
  --secondary-dark: blue;

  /* create tertiary color more to add more color variants */

  /* ascent color */ /*  this colors is solid highlighted color mostly used in buttons links user-select  */

  --ascent: blue;
  --ascent-dark: blue;

  /* heading colors */
  --heading: blue;
  --heading-dark: blue;

  /* text colors */
  --text: blue;
  --text: blue;

  /* model colors */
  --model-overlay: #000000c0;
}
